{% load static %}
<section class="about pb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="about-img-area">
    <img class="main-img" data-cfsrc="{% static "web/images/course/about-2.jpg" %}" alt="image" style="display:none;visibility:hidden;"><noscript><img class="main-img" src="{% static "web/images/about/a1-1.jpg" %}" alt="image"></noscript>
    <img class="small-img" data-cfsrc="{% static "web/images/about/a1-2.jpg" %}" alt="image" style="display:none;visibility:hidden;"><noscript><img class="small-img" src="{% static "web/images/about/a1-2.jpg" %}" alt="image"></noscript>
    <div class="about-exp">
    <h4>45+</h4>
    <p>Years Of Experience</p>
    </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="about-text-area pl-20">
    <div class="default-section-title ">
    <span>About Our Institution</span>
    <h3>Here Comes An Intro About <a style="color:#3f9f42;"> OXDU </a> </h3>
    </div>
    <p>Welcome to Oxdu Tech School, where we offer a diverse range of tech courses to shape your future. From Python Full Stack Development to Artificial Intelligence, Flutter Development, and Digital Marketing, our cutting-edge programs provide hands-on learning for a comprehensive tech education. Join Oxdu Tech School to acquire the skills needed in today's tech-driven world and pave the way for a successful career in the industry.</p>
    <div class="progress-bar-area">
    {% comment %} <div id="bar1" class="barfiller">
    <span class="label">Sales & Trading</span>
    <span class="tip"></span>
    <span class="fill" data-percentage="95"></span>
    </div> {% endcomment %}
    {% comment %} <div id="bar2" class="barfiller">
    <span class="label">Finance</span>
    <span class="tip"></span>
    <span class="fill" data-percentage="90"></span>
    </div> {% endcomment %}
    {% comment %} <div id="bar3" class="barfiller">
    <span class="label">Consulting</span>
    <span class="tip"></span>
    <span class="fill" data-percentage="75"></span>
    </div> {% endcomment %}
    {% comment %} <div id="bar4" class="barfiller">
    <span class="label">Digital Strategy</span>
    <span class="tip"></span>
    <span class="fill" data-percentage="80"></span>
    </div> {% endcomment %}
    </div>
    <div class="about-intro">
    <img data-cfsrc="{% static "web/images/testimonial/CEO.jpeg" %}" alt="image" style="display:none;visibility:hidden;"><noscript><img src="{% static "web/images/testimonial/tc1.jpg" %}" alt="image"></noscript>
    <div class="at-text">
    <h4>KC Musthafa</h4>
    <p>Founder</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    