{% load static %}
<section class="partner">
    <div class="container">
        <div class="fun-facts-content">
            <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="fun-facts-text-area pr-20">
            <div class="default-section-title">
            <span>Achievements</span>
            <h3>Our Achievements</h3>
            </div>
            <p>We achieved notable success with its students securing internships and employment at top-tier tech companies, underscoring the institution's commitment to producing highly employable graduates. </p>
            </div>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="fun-facts-card-area">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="fun-facts-card">
                <h2><span class="odometer" data-count="5">00</span><span class="odo-text">+</span></h2>
            <p>Years Experience</p>
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="fun-facts-card fcb">
            <h2><span class="odometer" data-count="10">00</span>+</h2>
            <p>Branches</p>
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="fun-facts-card">
            <h2><span class="odometer" data-count="99">00</span><span class="odo-text">%</span></h2>
            <p>Students Placed</p>
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="fun-facts-card fcb">
            <h2><span class="odometer" data-count="4.7">00</span></h2>
            <p>Students Review</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
    </div>
    </section>
    