{% load static %}
<section class="team ptb-100">
    <div class="container">
    <div class="default-section-title default-section-title-middle">
    <span>Our Team</span>
    <h3>Our well experienced Facultys</h3>
    </div>
    <div class="section-content">
    <div class="row justify-content-center">
        {% for f in facualty %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="team-card">
    <img data-cfsrc="{{f.facualty_image.url}}" alt="image" style="display:none;visibility:hidden;"><noscript><img src="{{f.facualty_image.url}}" alt="image"></noscript>
    <div class="team-card-text">
    <h4>{{f.facualty_name}}</h4>
    <p>{{f.facualty_position}}</p>
    <ul>
    <li><a href="{{f.linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="{{f.twitter}}" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="{{f.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    
    {% endfor %}
    </div>
    </div>
    </div>.
    </div>
    </section>