{% load static %}

<section class="why-only-we ptb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 col-12">
    <div class="why-only-we-text-area pr-20">
    <div class="default-section-title">
    <span>Why Only We</span>
    <h3>Reason For Choosing <a style="color:#3f9f42;"> OXDU TECH SCHOOL </a> </h3>
    </div>
    <p> Oxdu Tech School for its diverse tech courses, including Python Full Stack Development, Artificial Intelligence, Flutter Development, and Digital Marketing. The institute's hands-on approach, up-to-date curriculum, and experienced faculty make it an ideal environment for gaining practical skills and staying abreast of industry trends. With a focus on career readiness, Oxdu Tech School provides a well-rounded tech education that prepares students for success in the ever-evolving technology field. </p>
    {% comment %} <p>Iaculis erat pellentesque adipiscing commodo. Placerat vestibulum lectus mauris ultrices eros in cursus. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Morbi tincidunt ornare massa eget egestas purus fermentum viverra accumsan commodo.</p> {% endcomment %}
    <div class="why-we-list">
    <ul>
    <li><i class="fas fa-check"></i> 100% Placement assistance</li>
    <li><i class="fas fa-check"></i> 2 Month free internship</li>
    <li><i class="fas fa-check"></i> Experienced Faculty</li>
    <li><i class="fas fa-check"></i> Career-Focused Approach</li>
    <li><i class="fas fa-check"></i> Industry-Relevant Projects</li>
    <li><i class="fas fa-check"></i> 95% Practical</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 col-12">
    <div class="why-only-img-area">
    <img data-cfsrc="{% static "web/images/why-we/ww1.jpg" %}" alt="image" style="display:none;visibility:hidden;"><noscript><img src="{% static "web/images/why-we/ww1.jpg" %}" alt="image"></noscript>
    <div class="ww-team-card">
    <h4>100+</h4>
    <p>Students</p>
    </div>
    <div class="ww-project-card">
    <h4>99%</h4>
    <p>Placed</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>